* {
    font-family: monospace;
}

body {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

#canvas {
    border-color: black;
    border-style: dashed;
    width: 600px;
    height: 600px;
    border-width: 5px;
    background-color: azure;
}

#controls {
    display: flex;
    justify-items: space-between;
    align-items: center;
}

#degree {
    display: flex;
    flex-direction: column;
    align-items: center;
}