* {
    font-family: monospace;
}

#logoCanvas {
    border: 1px solid #000000;
    background-color: azure;
    margin-right: 20px;
}

#logoSide {
    display: flex;
    flex-direction: column;
    min-width: 220px;
}

#coords {
    display: inline-block;
}

#controlInput {
    margin-right: 10px;
}

main {
    display: flex;
    justify-content: center;
    padding: 50px;
}